body{
  background-color: #430808;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  display: flex;
 
}
.flex-box{
  display: flex;
}

h1{
    color: aliceblue;
    font-family: 'Rockabilly';
    margin-top: .8rem;
    font-size: 5rem;
    font-weight: normal;
    margin-left: 6rem;
    margin-bottom: 1rem;
}

.Burger-logo{
    height: 32rem;
    width: 34rem;
    margin-left: 3rem;
    font-weight: normal;
}

p{
  color: aliceblue;
  font-size: .9rem;
  margin-left: 6rem;
}

.container{
  position: absolute;
  background-color: aliceblue;
  width:25rem;
  height: 33rem;
  border-radius: 10px;
  right: 3rem;
  margin-top: 10rem;
  color:#430808;
  text-align: center;
}
#title{
  font-size: 1.5rem;
  margin-top: 3rem;
  margin-bottom: 10rem
  
}
#pass{
  font-size: .9rem;
  position: absolute;
  top: 15rem;
  left: 2rem;
}

#enter{
  width: 6rem;
  height: 2.1rem;
  border-radius: 6px;
  font-size: 1.1rem;
  color: aliceblue;
  background-color: #430808;
  position: absolute;
  top: 24rem;
  left: 10rem;
}
#user{
  text-align: initial;
  position: absolute;
  left: 3.5rem;
  top: 10rem;
  font-size: .9rem;
}
.password{
  position: absolute;
  background: aliceblue;
  right: 6.5rem;
  top: 15.7rem;
  border-color: transparent;
  border-bottom-color: #430808;
}
.email{
  position: absolute;
  background: aliceblue;
  right: 6.5rem;
  top: 10.8rem;
  border-color: transparent;
  border-bottom-color: #430808;
}

.breakfasts {
  width: 15rem;
  height: 3.5rem;
  border-radius: 16px;
  margin-right: 3rem;
  margin-left: 3rem;
  font-size: 1.3rem;
  font-weight: 500;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #430808;
}
.lunches{
 
  width: 15rem;
  height: 3.5rem;
  border-radius: 16px;
  margin-right: 3rem;
  margin-left: 3rem;
  font-size: 1.3rem;
  font-weight: 500;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #430808;
}
.burgerTitle{
  margin-left: 48rem;
  margin-top: -1.5999999999999996rem;
  font-weight: normal;
}
#lunch{
  width: 33rem;
  height: 28rem;
  background-color: #f0f8ffa3;
  margin-left: 4.5rem;
  margin-top: 5rem;
  border-radius: 1.5rem;
}
#orderData{
  width: 26rem;
  height: 34rem;
  background-color:aliceblue;
  margin-left: 40rem;
  border-radius: 1rem;
  margin-top: -29rem;
}
#nameClient{
  text-align: initial;
  position: absolute;
  font-size: 1rem;
  left: 46rem;
  top: 12.5rem;
}
#client{
  position: absolute;
  background: #f0f8ffd9;
  border-color: transparent;
  border-bottom-color: #430808;
  top: 13.3rem;
  left: 50rem;
  width: 9rem;
}
#idWaiter{
  text-align: initial;
  position: absolute;
  font-size: 1rem;
  top: 15.3rem;
  left: 46rem;
}
#waiter{
  position: absolute;
  width: 6rem;
  background-color: #f0f8ffd9;
  border-color: transparent;
  border-bottom-color: #430808;
  left: 52.8rem;
  top: 16rem;
}
.back{
  background-image: url('./Component/Image/back.jpg');
  position:absolute;
  width: 2rem;
  height: 1rem;
}

.nameLunch, .priceLunch{
  font-size: small;
  color: #430808;
}
img.pequeña{
 
  width: 6rem;
}
.allLunch{
  display: flex;
  flex-flow: wrap;
  justify-content: flex-start;
  margin-right: 11rem;
}
svg{
  color:aliceblue;
  margin: 0 auto;
    width: 3rem;
   height: 2rem;
}
#right{
  color: aliceblue;
  display: flex;
  position: absolute;
  left: 71rem;
  top: 0.5rem;

}
#trash{
  width: 48rem;
  height: 2rem;
  color: black;
  position: absolute;
  top: 22.2rem;
}
#one{
  width: 3rem;
  text-align: initial;
  position: absolute;
  font-size: .9rem;
  top: 22rem;
  right: 23rem;
}
#productOne{
  top: 22.5rem;
  width: 11rem;
  position: absolute;
  left: 53rem;
  background-color: aliceblue;
  border-color: transparent;
  border-bottom-color: #430808;
}
#sum{
  color: black;
    position: absolute;
    top: 22.5rem;
    width: 1rem;
    left: 65rem;
}
#increment{
  color: black;
  position: absolute;
  top: 22.2rem;
  width: 1rem;
  left: 67rem
}
#result{
  position: absolute;
  top: 35.5rem;
  left: 60rem;
}
#resultSum{
  position: absolute;
    top: 35.3rem;
    left: 63rem;
    width: 5rem;
    background-color: aliceblue;
    border-color: transparent;
    border-bottom-color: #430808;
}
#dates{
  position: absolute;
  width: 6rem;
  height: 1.3rem;
  border-radius: 16px;
  left: 64rem;
  top: 13rem;
  box-shadow: 8px 8px 10px 0;
  color: grey;
}
#hours{
  position: absolute;
  width: 6rem;
  height: 1.3rem;
  border-radius: 16px;
  left: 64rem;
  top: 15rem;
  box-shadow: 8px 8px 10px 0;
  color: grey;
}
#delete{
  width: 7rem;
  height: 2.5rem;
  border-radius: 12px;
  background-color: #430808;
  color: aliceblue;
  position: absolute;
  top: 41rem;
  left: 48rem;
}

#send{
width: 7rem;
height: 2.5rem;
border-radius: 12px;
background-color: #430808;
color: aliceblue;
position: absolute;
top: 41rem;
left: 60rem;
}
.Lunchs{
  width: 4rem;
  height: 4rem;
  color: #430808;
}